body {
    margin: 0;
    margin-top: 50px;
    font-family :'calibri';
}
body.profile-img {
    border-radius :60%;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: yellow;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 50;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero .profile-img {
    width: 300px;
}

footer {
    text-align: center;
    color: aliceblue;
    padding: 30px;
    background-color: aqua;
}
#hero h1{font-size: 3cm;
}
section h2 {
font-size: 1.5cm;
}
p{font-size: 16px;
    line-height: 1cm;}
section h3{
    font-size: 1.5cm;
}
header a{
    text-decoration: none;
    color: #eee;
}
body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
     /* Add this line */
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%; /* Add this line */
}

footer {
    text-align: center;
    padding: 50px;
}

/* Add everything below here */

#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
    color: red;
}

header a {
    text-decoration: none;
    color: blue;
}



body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
    background-color:white;

}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color:aqua;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 3px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#hero { background-image: url( Picsart_22-10-31_17-40-20-659.jpg);}
#abaut {background-image: url(Picsart_22-10-31_17-40-20-659.jpg);}
#contact{background-image: url(Picsart_22-10-31_17-40-20-659.jpg);}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

/* Add everything below here */

